* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    border: 3px solid black;
    margin: 15px;
    .initialScreenForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    .discharge-report {
        margin: 20px;
        display: flex;
        flex-direction: column;
        #random-dog-img {
            align-self: center;
        }
        /* ul {
            list-style-type: none !important;
            color:#999999 !important;
          }
          ul li:before {
            content: '\2014' !important;
            position: absolute !important;
            margin-left: -20px !important;
          } */
    }
    .form-input {
        margin: 5px
    }
    .options {
        display: flex;
        justify-content: space-around;
    }
}


h4 {
    border: 3px solid black;
    border-radius: 90px;
    padding: 10px;
}